:root {
  --Menu: rgb(249, 118, 225);
  --button: rgb(124, 26, 185);
  --Quiz: rgb(91, 232, 242);
}

body {
  background: url("https://images.pexels.com/photos/1174114/pexels-photo-1174114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.Menu,
.Quiz {
  width: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Menu Styles === */
.Menu {
  background-color: var(--Menu);
  height: 600px;
}

.Menu input,
.Menu button {
  width: 300px;
  height: 50px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
}

.Menu input::placeholder {
  padding-left: 5px;
}

.Menu button {
  background-color: var(--button);
  color: white;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--Quiz);
  color: black;
}

.Menu label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* === Quiz Styles === */
.Quiz {
  background-color: var(--Quiz);
}

.Quiz h2 {
  padding: 10px 10px 0 10px;
  margin-top: 0;
  line-height: 2.3rem;
  font-family: sans-serif;
}

.answers button {
  width: 500px;
  padding: 20px 15px;
  margin: 10px;
  line-height: 1.75rem;
  border: none;
  border-radius: 5px;
  border: 4px solid var(--Menu);
  box-sizing: border-box;
  font-size: 1.25rem;
  background-color: white;
}