:root {
  --Quiz: rgb(249, 118, 225);
  --button: rgb(124, 26, 185);
}

body {
  background: url("https://images.pexels.com/photos/1174114/pexels-photo-1174114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.Menu {
  width: 600px;
  height: 600px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--Quiz);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Menu Styles === */
.Menu input,
.Menu button {
  width: 300px;
  height: 50px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
}

.Menu input::placeholder {
  padding-left: 5px;
}

.Menu button {
  background-color: var(--button);
  color: white;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgb(77, 238, 249);
  color: black;
}

.Menu label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}